
@font-face {
    font-family: 'Integral';
    src: url('assets/fonts/Integral-CF/Demo_Fonts/Fontspring-DEMO-integralcf-bold.otf') format('otf');
    font-weight: bold;
    font-style: normal;
    font-family: 'satoshi';
        src: url('assets/fonts/Satoshi_Complete/Fonts/OTF/Satoshi-Black.otf') format('otf');
  }

h2{
    font-family: 'Integral', sans-serif;
}
p{
    font-family: 'satoshi', sans-serif;
}